# Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/


# Machine Learning Models
*.pkl
*.joblib

# VS Code Settings
.vscode/

# Operating System Files
.DS_Store
Thumbs.db